<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Paster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PasterWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PasterWidgetOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4659FB4419A0EF08003703E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4659FB5619A0EF08003703E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B2659C1A086BD700144F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46BF99BB1A0E19FD0000B832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
